<ion-view title="Home" id="page5" style="background-color:#CCCCCC;">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/cU7nwNlDRBGdc9Fkuglu_ScreenShot2020-07-17at12.45.38PM.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="menu.progress()" id="home-button3" class="button button-positive button-block">Go to Dashboard</a>
  </ion-content>
</ion-view>