<ion-view title="Progress" id="page1" style="background-color:#CCCCCC;">
  <ion-content padding="true" class="has-header">
    <div>
      <style>
        .column {
      float: left;
      width: 50%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
      </style>

      <div class="row">
        <div class="column" align="center">
          <h1>
            Day 4
          </h1>
          <p>It always seems impossible until it's done.</p>
        </div>
        <div class="column"></div>
      </div>
    </div>
    <div>
      <img src="img/Q1IWXEvqSdehUPqQDujf_progress.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>