<ion-view title="Trends" id="page2" style="background-color:#CCCCCC;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/kHh3GU7uShGl0mQfG3bT_trend1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="height:10px"></div>
    <div>
      <img src="img/2TIxJkaTaCMH6peFyF1P_trend2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>