/* Empty. Add your own CSS if you like */
.bar-stable-theme {
    border-color: #b2b2b200;
    background-color: lightblue;
    color: #444444; }
.bar-stable-theme .title {
    color: #444; }
.item-icon-right-theme .icon{
    border-color: #b2b2b200;
    background-color: lightblue;
    color: #444; 
}